body {
    background-image: url(../Images/background.png);
    background-repeat:repeat;
}

body div {
    background-color: #79A9FC;
    border: 3px solid #4B80DB;
    border-radius: 35px;
    margin: 2% 20%;
    padding: 1% 2%;
    text-align:center;
    width:inherit;
    
}

.Header {
    background-color: #5F94DE;
    border: solid 3px #5483C4;
    margin: auto;
    width: 50%;
}

#title {
    display: inline;
    font-size: xx-large;
    font-weight:900;
}

#LoginRegister {
    display: inline;
    width: 35%;
}

div.aspNetHidden {
    display: none;
}

footer {
    text-align: center;
    background-color: #79A9FC;
    border:solid 3px #4B80DB;
    border-radius: 35px;
    margin: 2% 40%;
    padding: 1% 2%;
}