body {
    background-image: url(../Images/background.png);
    background-repeat:repeat;
}

body div {
    background-color: #79A9FC;
    border: 3px solid #4B80DB;
    border-radius: 35px;
    margin: 2% 15%;
    padding: 1% 2%;
    text-align:center;
    width:inherit;
    
}

body div div {
    background-color: #A0C1FA;
    margin: 1% 10%;
}

.Header {
    background-color: #79A9FC;
    border: solid 3px #5483C4;
    margin: auto;
    padding-left: 10%;
    width: 35%;
}

#title a {
    color: black;
}

#title {
    display: inline;
    font-size: xx-large;
    font-weight:900;
}

#LoginRegister {
    display: inline;
    background-color: #5F94DE;
    width: 35%;
}

div.aspNetHidden {
    display: none;
}

footer {
    text-align: center;
    background-color: #79A9FC;
    border:solid 3px #4B80DB;
    border-radius: 35px;
    margin:1% 40%;
    padding: 1% 2%;
}